<a href="https://colab.research.google.com/github/crux007/crux007/blob/main/sentiment_for_airline_review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
import pandas as pd
import nltk
from nltk.sentiment import SentimentIntensityAnalyzer
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [55]:
df = pd.read_csv('/content/drive/MyDrive/airline_review.csv')

In [56]:
df['customer_review'].head(5)

0    âœ… Trip Verified | Ljubljana to Munich. The h...
1    Not Verified | Zurich to Ljubljana. Very poor ...
2    âœ… Trip Verified | Vienna to Sofia. The fligh...
3    âœ… Trip Verified | We were traveling from Par...
4    âœ… Trip Verified | Ljubljana to Munich. Adria...
Name: customer_review, dtype: object

In [57]:
df.dropna(subset=['customer_review'], inplace=True)

In [58]:
df['customer_review'] = df['customer_review'].str.replace("[^a-zA-Z#]", " ")
df['customer_review'] = df['customer_review'].str.lower()

<ipython-input-58-e1051d2d2ebd>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['customer_review'] = df['customer_review'].str.replace("[^a-zA-Z#]", " ")

In [59]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [60]:
sia = SentimentIntensityAnalyzer()

In [61]:
df['Sentiment'] = df['customer_review'].apply(lambda x: sia.polarity_scores(x)['compound'])

In [77]:
df['Sentiment_Label'] = df['Sentiment'].apply(lambda x: 'Positive' if x >= 0 else 'Negative')

In [78]:
print(df)

             airline  overall                 author         review_date  \
0      Adria Airways        8                M Jager   12th October 2018
1      Adria Airways        1           Giulia Rossi    5th October 2018
2      Adria Airways        1           Galya Slavov      29th July 2018
3      Adria Airways        2             Loic Jouan      19th July 2018
4      Adria Airways        2               P Gamirj      30th June 2018
...              ...      ...                    ...                 ...
61178        WOW air       10            Mike Causer     21st March 2013
61179        WOW air        6  Halldorsson Sigmundur   24th January 2013
61180        WOW air        9           N Holdsworth   10th January 2013
61181        WOW air        9      Michael Shoesmith  23rd December 2012
61182        WOW air        9           N Holdsworth   23rd October 2012

                                         customer_review aircraft  \
0          trip verified   ljubljana to munich  the h...      NaN
1      not verified   zurich to ljubljana  very poor ...      NaN
2          trip verified   vienna to sofia  the fligh...      NaN
3          trip verified   we were traveling from par...      NaN
4          trip verified   ljubljana to munich  adria...      NaN
...                                                  ...      ...
61178  flew london gatwick   reykjavik return on     ...      NaN
61179  flew with this new entrant to the icelandic ma...      NaN
61180  second time on wow lgw to kef   st december  s...      NaN
61181   th december      lgw kef  iceland express and...      NaN
61182  london stansted to reykjavik earlier this summ...      NaN

       traveller_type          cabin                          route  \
0      Family Leisure  Economy Class            Ljubljana to Munich
1            Business  Economy Class            Zurich to Ljubljana
2      Family Leisure  Economy Class                Vienna to Sofia
3        Solo Leisure  Economy Class  Paris to Skopje via Ljubljana
4            Business  Economy Class            Ljubljana to Munich
...               ...            ...                            ...
61178             NaN  Economy Class                            NaN
61179             NaN  Economy Class                            NaN
61180             NaN  Economy Class                            NaN
61181             NaN  Economy Class                            NaN
61182             NaN  Economy Class                            NaN

         date_flown  ...  cabin_service  food_bev  entertainment  \
0      October 2018  ...              4         3              0
1      October 2018  ...              1         0              1
2         July 2018  ...              1         1              0
3            May-18  ...              3         0              0
4         June 2018  ...              2         2              0
...             ...  ...            ...       ...            ...
61178           NaN  ...              4         4              0
61179           NaN  ...              4         0              0
61180           NaN  ...              5         5              0
61181           NaN  ...              3         4              0
61182           NaN  ...              5         4              0

       ground_service  value_for_money  recommended Sentiment  \
0                   5                5          yes    0.8514
1                   1                1           no   -0.8890
2                   4                1           no   -0.4927
3                   3                2           no   -0.9305
4                   2                1           no   -0.3792
...               ...              ...          ...       ...
61178               0                5          yes    0.9887
61179               0                3          yes    0.9854
61180               0                4          yes    0.7935
61181               0                4          yes    0.9505
61182               0                4          yes    0.8097

       Sentiment_Label_Negative  Sentiment_Label_Positive  Sentiment_Label
0                             0                         1         Positive
1                             1                         0         Negative
2                             1                         0         Negative
3                             1                         0         Negative
4                             1                         0         Negative
...                         ...                       ...              ...
61178                         0                         1         Positive
61179                         0                         1         Positive
61180                         0                         1         Positive
61181                         0                         1         Positive
61182                         0                         1         Positive

[61183 rows x 21 columns]

In [16]:
df.to_csv('/content/drive/MyDrive/airline_review_sentiment.csv', index=False)

In [98]:
df_new = pd.read_csv('/content/drive/MyDrive/airline_review_sentiment.csv')

In [99]:
df_new.head(5)

,airline,overall,author,review_date,customer_review,aircraft,traveller_type,cabin,route,date_flown,seat_comfort,cabin_service,food_bev,entertainment,ground_service,value_for_money,recommended,Sentiment,Sentiment_Label
0,Adria Airways,8,M Jager,12th October 2018,trip verified ljubljana to munich the h...,NaN,Family Leisure,Economy Class,Ljubljana to Munich,October 2018,4,4,3,0,5,5,yes,0.8514,Positive
1,Adria Airways,1,Giulia Rossi,5th October 2018,not verified zurich to ljubljana very poor ...,NaN,Business,Economy Class,Zurich to Ljubljana,October 2018,2,1,0,1,1,1,no,-0.8890,Negative
2,Adria Airways,1,Galya Slavov,29th July 2018,trip verified vienna to sofia the fligh...,NaN,Family Leisure,Economy Class,Vienna to Sofia,July 2018,4,1,1,0,4,1,no,-0.4927,Negative
3,Adria Airways,2,Loic Jouan,19th July 2018,trip verified we were traveling from par...,NaN,Solo Leisure,Economy Class,Paris to Skopje via Ljubljana,May-18,3,3,0,0,3,2,no,-0.9305,Negative
4,Adria Airways,2,P Gamirj,30th June 2018,trip verified ljubljana to munich adria...,NaN,Business,Economy Class,Ljubljana to Munich,June 2018,1,2,2,0,2,1,no,-0.3792,Negative

In [100]:
# One hot encode the Sentiment_label and recommended columns
df_new = pd.get_dummies(df_new, columns=["recommended"], drop_first=True)

In [107]:
# Replace 'n' with 0 and 'e' with 1 in the 'Sentiment_Label' column
df_new['Sentiment_Label'] = df_new['Sentiment_Label'].replace({'Positive': 0, 'Negative': 1}, regex=True)

In [108]:
df_new

,airline,overall,author,review_date,customer_review,aircraft,traveller_type,cabin,route,date_flown,seat_comfort,cabin_service,food_bev,entertainment,ground_service,value_for_money,Sentiment,Sentiment_Label,recommended_yes
0,Adria Airways,8,M Jager,12th October 2018,trip verified ljubljana to munich the h...,NaN,Family Leisure,Economy Class,Ljubljana to Munich,October 2018,4,4,3,0,5,5,0.8514,0,1
1,Adria Airways,1,Giulia Rossi,5th October 2018,not verified zurich to ljubljana very poor ...,NaN,Business,Economy Class,Zurich to Ljubljana,October 2018,2,1,0,1,1,1,-0.8890,1,0
2,Adria Airways,1,Galya Slavov,29th July 2018,trip verified vienna to sofia the fligh...,NaN,Family Leisure,Economy Class,Vienna to Sofia,July 2018,4,1,1,0,4,1,-0.4927,1,0
3,Adria Airways,2,Loic Jouan,19th July 2018,trip verified we were traveling from par...,NaN,Solo Leisure,Economy Class,Paris to Skopje via Ljubljana,May-18,3,3,0,0,3,2,-0.9305,1,0
4,Adria Airways,2,P Gamirj,30th June 2018,trip verified ljubljana to munich adria...,NaN,Business,Economy Class,Ljubljana to Munich,June 2018,1,2,2,0,2,1,-0.3792,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61178,WOW air,10,Mike Causer,21st March 2013,flew london gatwick reykjavik return on ...,NaN,NaN,Economy Class,NaN,NaN,4,4,4,0,0,5,0.9887,0,1
61179,WOW air,6,Halldorsson Sigmundur,24th January 2013,flew with this new entrant to the icelandic ma...,NaN,NaN,Economy Class,NaN,NaN,4,4,0,0,0,3,0.9854,0,1
61180,WOW air,9,N Holdsworth,10th January 2013,second time on wow lgw to kef st december s...,NaN,NaN,Economy Class,NaN,NaN,5,5,5,0,0,4,0.7935,0,1
61181,WOW air,9,Michael Shoesmith,23rd December 2012,th december lgw kef iceland express and...,NaN,NaN,Economy Class,NaN,NaN,4,3,4,0,0,4,0.9505,0,1
61182,WOW air,9,N Holdsworth,23rd October 2012,london stansted to reykjavik earlier this summ...,NaN,NaN,Economy Class,NaN,NaN,5,5,4,0,0,4,0.8097,0,1

In [112]:
X = df_new[['overall', 'seat_comfort', 'cabin_service', 'food_bev', 'entertainment', 'ground_service', 'value_for_money', 'Sentiment', 'recommended_yes']]
y = df_new['Sentiment_Label'].astype("category")

In [113]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [114]:
# Create a random forest classifier
rf = RandomForestClassifier(n_estimators=100, max_depth=5)

In [115]:
# Fit the model to the training data
rf.fit(X_train, y_train)

RandomForestClassifier(max_depth=5)

In [116]:
print(rf.score(X_test, y_test))

1.0