<a href="https://colab.research.google.com/github/crux007/crux007/blob/main/sentiment_for_airline_review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import nltk
from nltk.sentiment import SentimentIntensityAnalyzer
import numpy as np

In [3]:
df = pd.read_csv('/content/drive/MyDrive/airline_review_2.csv')

In [6]:
df['customer_review'].head(5)

1        trip verified   london to izmir via istanb...
3        trip verified   istanbul to bucharest  we ...
5        trip verified   rome to prishtina via ista...
7        trip verified   flew on turkish airlines i...
9        trip verified   mumbai to dublin via istan...
Name: customer_review, dtype: object

In [4]:
df.dropna(subset=['customer_review'], inplace=True)

In [5]:
df['customer_review'] = df['customer_review'].str.replace("[^a-zA-Z#]", " ")
df['customer_review'] = df['customer_review'].str.lower()

<ipython-input-5-e1051d2d2ebd>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['customer_review'] = df['customer_review'].str.replace("[^a-zA-Z#]", " ")

In [7]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

True

In [8]:
sia = SentimentIntensityAnalyzer()

In [10]:
df['Sentiment'] = df['customer_review'].apply(lambda x: sia.polarity_scores(x)['compound'])

In [11]:
df['Sentiment_Label'] = df['Sentiment'].apply(lambda x: 'Positive' if x >= 0 else 'Negative')

In [12]:
print(df[['customer_review', 'Sentiment', 'Sentiment_Label']])

                                          customer_review  Sentiment  \
1           trip verified   london to izmir via istanb...     0.9365
3           trip verified   istanbul to bucharest  we ...     0.2732
5           trip verified   rome to prishtina via ista...    -0.9539
7           trip verified   flew on turkish airlines i...     0.9718
9           trip verified   mumbai to dublin via istan...    -0.7599
...                                                   ...        ...
131886  two domestic flights between kiev and lviv las...     0.8721
131888  i had a good flight from london to kiev with u...     0.8042
131890  kiev   london  gatwick  in business class  in ...    -0.6549
131892  several flights   kbp to ams    times one way ...     0.5267
131894  kbp ams with uia  although it was a relatively...     0.8834

       Sentiment_Label
1             Positive
3             Positive
5             Negative
7             Positive
9             Negative
...                ...
131886        Positive
131888        Positive
131890        Negative
131892        Positive
131894        Positive

[65947 rows x 3 columns]

In [13]:
new_df = df[['customer_review', 'Sentiment', 'Sentiment_Label']].copy()

In [14]:
new_df.to_csv('/content/drive/MyDrive/new_dataframe_with_sentiments.csv', index=False)

In [15]:
print(new_df)

                                          customer_review  Sentiment  \
1           trip verified   london to izmir via istanb...     0.9365
3           trip verified   istanbul to bucharest  we ...     0.2732
5           trip verified   rome to prishtina via ista...    -0.9539
7           trip verified   flew on turkish airlines i...     0.9718
9           trip verified   mumbai to dublin via istan...    -0.7599
...                                                   ...        ...
131886  two domestic flights between kiev and lviv las...     0.8721
131888  i had a good flight from london to kiev with u...     0.8042
131890  kiev   london  gatwick  in business class  in ...    -0.6549
131892  several flights   kbp to ams    times one way ...     0.5267
131894  kbp ams with uia  although it was a relatively...     0.8834

       Sentiment_Label
1             Positive
3             Positive
5             Negative
7             Positive
9             Negative
...                ...
131886        Positive
131888        Positive
131890        Negative
131892        Positive
131894        Positive

[65947 rows x 3 columns]